{% extends 'base.html' %}

{% block titulo %}
    Resultado da Busca | {{ block.super }}
{% endblock titulo %}

{% block corpo %}

    <div class="conteiner">

        {% include 'blocos/mensagens.html' %}

        <div class="col">

            <h1>RESULTADOS DA BUSCA</h1>


            <h3>Em Receitas</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                   <th scope="col">Id</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor R$</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ações</th>

                </tr>
                </thead>
                <tbody>

                {% for receita in receitas %}
                    <tr>
                        <th scope="row">{{ receita.id }}</th>
                        <td>{{ receita.descricao }}</td>
                        <td>{{ receita.valor }}</td>
                        <td>{{ receita.categoria }}</td>
                        <td><a href="{% url 'financas:editar_receita' receita.id  %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'financas:apagar_receita' receita.id  %}" class="btn btn-danger btn-sm">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

             <h3>Em Despesas</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                   <th scope="col">Id</th>
                    <th scope="col">Identificação</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor R$</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ações</th>

                </tr>
                </thead>
                <tbody>

                {% for despesa in despesas %}
                    <tr>
                        <th scope="row">{{ despesa.id }}</th>
                        <td>{{ despesa.identificacao }}</td>
                        <td>{{ despesa.descricao }}</td>
                        <td>{{ despesa.valor }}</td>
                        <td>{{ despesa.Categoria }}</td>
                        <td><a href="{% url 'financas:editar_despesa' despesa.id  %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'financas:apagar_despesa' despesa.id  %}" class="btn btn-danger btn-sm">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

             <h3>Em Categorias </h3>

            <table class="table table-hover">
                <thead>
                <tr>
                   <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ações</th>

                </tr>
                </thead>
                <tbody>

                {% for categoria in categorias %}
                    <tr>
                        <th scope="row">{{ categoria.id }}</th>
                        <td>{{ categoria.nome }}</td>
                        <td>{{ categoria.descricao }}</td>
                        <td>{{ categoria.get_tipo_display }}</td>
                        <td><a href="{% url 'financas:editar_categoria' categoria.id  %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'financas:apagar_categoria' categoria.id  %}" class="btn btn-danger btn-sm">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

         </div>



    </div>

{% endblock corpo %}