{% extends 'base.html' %}
{% load widget_tweaks %}

{% block titulo %}Criar Nova Receita | {{ block.super }}{% endblock titulo %}

{% block corpo %}
  <div class="container">
      <div class="row">
          <h1>Nova Receita</h1>
          <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="{{ form.descricao.id_for_label }}" class="form-label">{{ form.descricao.label }}</label>
                  {% render_field form.descricao class='form-control' placeholder='Descreva a receita' %}
              </div>

                 <div class="mb-3">
                  <label for="{{ form.valor.id_for_label }}" class="form-label">{{ form.valor.label }}</label>
                  {% render_field form.valor class='form-control' %}
              </div>

                 <div class="mb-3">
                  <label for="{{ form.categoria.id_for_label }}" class="form-label">{{ form.categoria.label }}</label>
                  {% render_field form.categoria class='form-control'  %}
              </div>



              <button type="submit" class="btn btn-primary">Salvar</button>
              <a href="{% url 'financas:lista_receitas' %}" class="btn btn-outline-secondary">Cancelar</a>
          </form>
      </div>
  </div>
{% endblock corpo %}
